---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$base-font-family: "Raleway", sans-serif;
$base-font-size: 100%;
$base-font-weight: 400;
$base-line-height: 1.6;
$heading-font-family: "Lora", serif;

$small-font-size:  0.875em;
$smaller-font-size: 0.75em;

$spacing-unit:      20px;

$text-color:       #202020;
$background-color: #F6F6F6;
$brand-color:      #1B95BF;     // Blue
$brand-color-light: lighten($brand-color, 40%);
$brand-color-dark:  darken($brand-color, 25%);


$secondary-color:  #FFBC1C;     // Orange
$secondary-color-dark: darken($secondary-color, 10%);


$grey-color:       #B6B6B6;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


// Width of the content area
$content-width:     1280px;

$on-tablet:         768px;
$on-desktop:        1024px;
$on-hd-screen:      1400px;


// Use media queries like this:
// @include media-query($on-tablet) {
//     .wrapper {
//         padding-right: $spacing-unit;
//         padding-left: $spacing-unit;
//     }
// }
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
