---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import 'https://fonts.googleapis.com/css?family=Advent+Pro:300,500';
@charset "utf-8";



// Our variables
$base-font-family:    "Advent Pro", sans-serif;
$base-font-size:      18px;
$base-font-weight:    300;
$small-font-size:     $base-font-size * 0.875;
$smaller-font-size:   $base-font-size * 0.75;
$base-line-height:    1.6;
$base-letter-spacing: 0.8px;

$spacing-unit:      30px;

$background-color:  #FAFAFA;
$text-color-dark:   #222;
$text-color-light:  #FAFAFA;
$brand-color:       #1E7896;
$brand-color-light: lighten($brand-color, 15%);
$brand-color-dark:  darken($brand-color, 15%);

$grey-color:         #D3D3D3;
$grey-color-lighter: lighten($grey-color, 30%);
$grey-color-light:   lighten($grey-color, 15%);
$grey-color-dark:    darken($grey-color, 15%);
$grey-color-darker:  darken($grey-color, 30%);

// Width of the content area
$content-width:    960px;

$on-palm:          768px;
$on-laptop:        1024px;
$on-desktop:       1200px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
