.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 $spacing-unit;
    width: 100%;
    background-color: $brand-color;
    color: $text-color-light;
}
    .footer__copyright {font-size: $smaller-font-size;}
    .footer__social-media {
        display: flex;
        align-items: center;
        font-size: $smaller-font-size;
        a:nth-child(2) {padding-left: 0.416em;}
    }
    .footer__email {display:none;}

.social-media__icon > svg {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    polygon {fill: $brand-color;}
    &:hover,
    &:active {
        polygon {fill: $text-color-light;}
        path {fill: $brand-color;}
    }
}

@include media-query($on-tablet) {
    .footer__email {display: initial;}
    .social-media__icon > svg {
        width: 30px;
        height: 30px;
    }
}

@include media-query($on-desktop) {
    .footer__copyright,
    .footer__social-media {font-size: $small-font-size;}
    .social-media__icon > svg {
        width: 40px;
        height: 40px;
    }
}

@include media-query($on-hd) {
    .social-media__icon > svg {
        width: 50px;
        height: 50px;
    }
}