.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: ($spacing-unit / 2) $spacing-unit;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0.0625em 0.0625em 0.125em $grey-color;
    font-size: 1rem;
    z-index: 10;
}
    .brand-image {height: 1em;}
    .navbar__menu-icon {float:right; font-size: 1.125em;}

    .navbar-nav {
        display: none;
        margin: 0;
        list-style: none;
        text-transform: uppercase;
    }
        .navbar-nav__link,
        .navbar-nav__link--active {
            display: block;
            text-align: center;
        }
    .navbar-nav--show {
        @extend .navbar-nav;
        display: initial;
        padding-top: $spacing-unit / 2;
    }

@include media-query($on-tablet) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }
        .navbar__menu-icon {display: none;}
        .navbar-nav {display: inline-block;}
        .navbar-nav__item {
            float: left;
            padding-right: 1.25em;
            &:last-child {padding-right: 0;}
        }
        .navbar-nav__link:hover,
        .navbar-nav__link--active {
            display: inline;
            border-bottom: 0.125em solid $brand-color;
        }
}