<section id="main">
  <img src="" alt="" id="image-of-jhu" />
  <div id="slogan">
    <h2>
      Keep <br /> 
      Pushin' <br /> 
      Forward
    </h2>
    <p> Hi there! Thanks for stopping by. My name's Johnny--I'm a student of Ruby. My knowledge and experience of the language is an ongoing process, so be sure to check back often!</p>
  </div>
  <button id="portfolio-btn"><a href="">View Projects</a></button>
  <div id="social-media-icons">
    <ul>
      <li><a href=""><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a></li>
      <li><a href=""><i class="fa fa-medium fa-2x" aria-hidden="true"></i></a></li>
      <li><a href=""><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
      <li><a href=""><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></li>
      <li><a href=""><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></li>
      <li><a href=""><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</section>