<section id="main">
  <img src="" alt="" id="image-of-jhu" />
  <div id="greeting-box">
    <h2 id="slogan">
      Keep <br /> 
      Pushin' <br /> 
      Forward
    </h2>
    <p> Hi there! Thanks for stopping by. My name's Johnny--I'm a student of Ruby. My knowledge and experience of the language is an ongoing process, so be sure to check back often!</p>
  </div>
  <a href="" id="portfolio-btn">View Projects</a>
</section>