---
layout: default
---

<section class="home">

  <img src="" alt="" class="headshot-img" id="image-of-jhu" />

  <ul class="recent-post">
  
    {% for post in site.posts limit:1 %}
      <li>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <p class="post-meta">
          Posted on {{ post.date | date: "%b %-d, %Y" }} by {{ post.author }}
        </p>

        {{ post.content }}
        
        <p>
          Tags: 
          {% for tag in post.tags %}
            <span class="post-tags"> {{ tag }} </span>
          {% endfor %}
        </p>

      </li>
    {% endfor %}

  </ul>

  <a href="/blog" class="cta-btn" id="blog-btn">View Blog</a>

</section>
