---
layout: page
title: Musings
permalink: /musings/
weight: 4
---

<section class="most-recent-musing">
{% for post in site.posts limit:1 %}

  <article class="musing">
    <header class="musing-header">
      <nav class="musing-nav">
        {% if post.previous.url %}
          <a class="prev" href="{{ post.previous.url }}">
            &laquo; {{ post.previous.title }}
          </a>
        {% endif %}
        {% if post.next.url %}
          <a class="next" href="{{ post.next.url }}">
            {{ post.next.title }} &raquo;
          </a>
        {% endif %}
      </nav>
    </header>
    
    <section class="musing-content" itemscope itemtype="http://schema.org/BlogPosting">
      <h1 class="musing-title" itemprop="name headline">
        {{ post.title }}
      </h1>
      <div itemprop="articleBody">
        {{ post.content }}
      </div>
    </section>

    {% include disqus_comments.html %}
  </article>

{% endfor %}
</section>