/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}


/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    letter-spacing: $mobile-letter-spacing;
    color: $text-color;
    background-color: $background-color; 
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
       -moz-font-feature-settings: "kern" 1;
         -o-font-feature-settings: "kern" 1;
            font-feature-settings: "kern" 1;
    font-kerning: normal;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}


/**
 * Figures
 */
figure {
    display: table;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    text-align: center;
    font-size: $smaller-font-size;
}


/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
    list-style-type: disc;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.17em;
}
h3 {
    font-size: 1.12em;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: 0.83em;
}
h6 {
    font-size: 0.75em;
}


/**
 * Links
 */
a {
    color: $secondary-color;
    text-decoration: none;

    &:hover {
        color: $secondary-color-dark;
    };
}


/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}


/**
 * CODE FORMATTING
 */
pre,
code {
    letter-spacing: 1px;
}

code {
    color: #900;
    padding: 2px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
        background-color: transparent;
    }
}


/*************************************/
/*** ** CUSTOM GLOBAL SETTINGS  ** ***/
/*************************************/
.background {
    background: url("../assets/bg/bg-texture.png") 100% 100%;
    background-color: #1B95BF;
    position: relative;
}

.background:before {
    content: "";
    background: url("../assets/bg/bg-texture.png") 100% 100%;
    background-color: #1B95BF;
    position: absolute;
    height: 100%;
    width: 200vw;
    left: -100vw;
    z-index: -1;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.thin {
    font-weight: 100;
}

.bold {
    font-weight: 700;
}

.btn {
    padding: 5px 20px;
    border: 2px solid $secondary-color;

    &:active {
        background-color: $secondary-color;
        color: #fff;
    };
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/*************************************/
/*** *** *** MEDIA QUERIES *** *** ***/
/*************************************/
@include media-query($on-tablet) {
    body {
        font-size: $base-font-size * 1.125;
        letter-spacing: $tablet-letter-spacing;
    }

    h1, h2, h3, h4, h5, h6,
    p, blockquote, pre,
    ul, ol, dl, figure,
    %vertical-rhythm {
        margin-bottom: $spacing-unit * 2;
    }

    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.17em;
    }
    h4 {
        font-size: 1.12em;
    }
    h5 {
        font-size: 0.83em;
    }
    h6 {
        font-size: 0.75em;
    }
}

@include media-query($on-desktop) {
    body {
        font-size: $base-font-size * 1.25;
        letter-spacing: $desktop-letter-spacing;
    }

    h1, h2, h3, h4, h5, h6,
    p, blockquote, pre,
    ul, ol, dl, figure,
    %vertical-rhythm {
        margin-bottom: $spacing-unit * 2.5;
    }
}

@include media-query($on-hd-screen) {
    body {
        font-size: $base-font-size * 1.375;
    }
}