section.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  
  #image-of-jhu {
    order: 1;
  }

  .recent-post {
    order: 2;
    margin-left: 0;
    list-style-type: none;
  }
  
  #blog-btn {
    order: 3;
  }
}