section.hero, 
section.mockups, 
section.musings, 
section.quote {
  padding: $spacing-unit;
}


/************************************/
/*** *** *** HERO SECTION *** *** ***/
/************************************/
section.hero {
  color: #fff;
  
  .thin {
    font-weight: 100;
  }

  .bold {
    font-weight: 700;
  }

  div#hero-hello, 
  div#hero-logo {
    align-self: flex-end;
  }

  div#hero-prof {
    padding-left: $spacing-unit;
  }

  div#hero-logo {
    padding-right: $spacing-unit;

    img {
      width: 32px;
    }
  }
}

/*****************************************/
/*** *** *** MOCK UP SPOTLIGHT *** *** ***/
/*****************************************/
section.mockups {
  align-items: center;
  
  div.mockup-showcase {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: $spacing-unit;

    div.showcase-mockup,
    div.showcase-markup {
      width: 45%;
      height: 600px;
      border: 2px solid $secondary-color;
    }
  }
}

/*********************************************/
/*** *** *** LATEST MUSING SECTION *** *** ***/
/*********************************************/
section.latest-musing {
  color: #fff;

  h2 {
    text-align: center;
  }
}

/*************************************/
/*** *** *** QUOTE SECTION *** *** ***/
/*************************************/
section.quote {
  margin-left: auto;
  margin-right: auto;
  width: 80%;

  p {
    text-align: center;
  }

  span.quoter, 
  div.social-media-icons {
    align-self: flex-end;
  }
}

/*************************************/
/*** *** *** MEDIA QUERIES *** *** ***/
/*************************************/
@include media-query($on-tablet) {
  div.hero, 
  div.mockups, 
  div.musings, 
  div.quote {
    padding: $spacing-unit * 2;
  }

  section.hero { 
    font-size: 2em;

    div#hero-logo img {
      width: 64px;
    }

    div#hero-prof {
      padding-left: $spacing-unit * 2;
    }

    div#hero-logo {
      padding-right: $spacing-unit * 2;
    }
  }

  section.mockups {
    div.mockup-showcase {
      margin-bottom: $spacing-unit * 2;
    }
  }

  article.musing {
    h3.musing-title, 
    div.musing-content {
      width: 70%;
    }
  }

  section.quote {
    width: 60%;

    p {
      align-self: center;
    }
  }
}

@include media-query($on-desktop) {
  section.hero, 
  section.mockups, 
  section.musings, 
  section.quote {
    padding: $spacing-unit * 2.5;
  }

  section.mockups {
    div.mockup-showcase {
      margin-bottom: $spacing-unit * 2.5;
    }
  }
}
