div.hero, 
div.mockups, 
div.musings, 
div.quote {
  padding: $spacing-unit;
}


/************************************/
/*** *** *** HERO SECTION *** *** ***/
/************************************/
div.hero {
  color: #fff;
  
  .thin {
    font-weight: 100;
  }

  .bold {
    font-weight: 700;
  }

  div#hero-hello, 
  div#hero-logo {
    align-self: flex-end;
  }

  div#hero-prof {
    padding-left: $spacing-unit;
  }

  div#hero-logo {
    padding-right: $spacing-unit;

    img {
      width: 32px;
    }
  }
}

/*****************************************/
/*** *** *** MOCK UP SPOTLIGHT *** *** ***/
/*****************************************/
div.mockups {
  align-items: center;
}

/*********************************************/
/*** *** *** LATEST MUSING SECTION *** *** ***/
/*********************************************/
div.musings {
  color: #fff;

  h2 {
    text-align: center;
  }

  div.musing {
    display: flex;
    flex-direction: column;

    h2.musing-title, 
    div.musing-content {
      width: 80%;
    }

    h2.musing-title {
      text-align: initial;
      align-self: flex-start;
    }

    div.musing-content, 
    span.continue-reading {
      align-self: flex-end;
    }
  }
}

/*************************************/
/*** *** *** QUOTE SECTION *** *** ***/
/*************************************/
div.quote {
  margin-left: auto;
  margin-right: auto;
  width: 80%;

  p {
    text-align: center;
  }

  span.quoter, 
  div.social-media-icons {
    align-self: flex-end;
  }

  div.social-media-icons {
        a {
            margin-right: ($spacing-unit / 2);
            
            &:last-child {
                margin-right: 0;
            };

            &:hover {
                border-bottom: none;
            };
        }
    }
}

/*************************************/
/*** *** *** MEDIA QUERIES *** *** ***/
/*************************************/
@include media-query($on-tablet) {
  div.hero, 
  div.mockups, 
  div.musings, 
  div.quote {
    padding: $spacing-unit * 2;
  }

  div.hero { 
    font-size: 2em;

    div#hero-logo img {
      width: 64px;
    }
  }

  div.musings div.musing {
    h3.musing-title, 
    div.musing-content {
      width: 70%;
    }
  }

  div.quote {
    width: 60%;

    p {
      align-self: center;
    }
  }
}

@include media-query($on-desktop) {
  div.hero, 
  div.mockups, 
  div.musings, 
  div.quote {
    padding: $spacing-unit * 2.5;
  }

  div.musings div.musing {
    h3.musing-title, 
    div.musing-content {
      width: 60%;
    }
  }
}
