.hidden {
  display: none!important;
  visibility: hidden!important;
}


/**
 * Pages
 */

.page,
.post {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    margin: 0 auto;
    @extend %clearfix;
}

.page__header {
    text-align: center;
    text-transform: uppercase;
}

.page__content {
    display: flex;
    width: 100%;
}

.page__heading {
    font-size: 2.25em;
}

/*
 * Posts
 */
.post__header {
    padding-top: 0;
}

.post__title {
    margin-bottom: 0;
}

.post__list {
    margin-left: 0;
    list-style: none;

    > li {
        border-bottom: 1px solid $grey-color;
        margin-bottom: $spacing-unit / 2;
    }
}

.post__meta {
    font-size: $small-font-size;
    color: $grey-color-dark;
}

.post__tag {
    font-weight: bold;
    text-transform: capitalize;
}

a.post__read-more {
    color: $brand-color;

    &:hover {
        background-color: $brand-color;
        color: $text-color-light;
    }
}

/*
 * Tags
 */

.tags {
    display: none;
    margin: 20px;
    min-width: 120px;
}

.tag__heading {
    text-decoration: underline;
    padding-left: 10px;
    padding-right: 20px;
    margin-bottom: 10px;
}
.tag__list {
    margin-left: 0;
    padding-left: 10px;
    border-left: 1px solid $grey-color;
    list-style: none;
}

.tag__item {
    font-size: $small-font-size;
}

.tag--active a {
    color: $brand-color;
    font-weight: bold;
    text-decoration: none;
}

.btn {
    padding: 5px 10px;
    border: 2px solid $brand-color;
    border-radius: $radius-size;
    font-size: $small-font-size;
    color: $text-color-light;
}

/*
 * Breadcrumbs
 */ 

 .breadcrumbs {
    margin-top: $spacing-unit;
    color: $grey-color-dark;
    font-size: $smaller-font-size
 }


@include media-query($bp-640) {
    .tags {
        display: initial;
    }
} /* end media-query($bp-640) */



@include media-query($on-laptop) {

    /**
     * Pages
     */

    .page,
    .post {
        max-width: -webkit-calc(#{$content-width} - #{$spacing-unit});
        max-width:         calc(#{$content-width} - #{$spacing-unit});
        margin-right: auto;
        margin-left: auto;
        padding-right: $spacing-unit;
        padding-left: $spacing-unit;
    }
} /* end media-query($on-laptop) */