/*************************************/
/*** ***  CONTAINER  PADDINGS  *** ***/
/*************************************/
header.site-header,
footer.site-footer {
   padding: $spacing-unit;
}
section.hero, 
section.mockups,
section.latest-musing,
section.quote {
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
}
.main-content {
    max-width: $content-width;
    margin: 0 auto;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
}

/*************************************/
/*** *** ***  SITE HEADER  *** *** ***/
/*************************************/
header.site-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $grey-color;

    nav.site-nav {
        padding-top: $spacing-unit;
        width: 280px;

        ul {
            display: flex;
            justify-content: space-between;
            margin: 0;
            list-style: none;
        }
    }
}

/*************************************/
/*** *** ***   SITE INDEX  *** *** ***/
/*************************************/

/************************************/
/*** *** *** HERO SECTION *** *** ***/
/************************************/
section.hero {
  color: #fff;
  
  .thin {
    font-weight: 100;
  }

  .bold {
    font-weight: 700;
  }

  div#hero-hello, 
  div#hero-logo {
    align-self: flex-end;
  }

  div#hero-prof {
    padding-left: $spacing-unit;
  }

  div#hero-logo {
    padding-right: $spacing-unit;

    img {
      width: 32px;
    }
  }
}

/*****************************************/
/*** *** *** MOCK UP SPOTLIGHT *** *** ***/
/*****************************************/
section.mockups {
  align-items: center;
  
  div.mockup-showcase {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: $spacing-unit;

    div.showcase-mockup,
    div.showcase-markup {
      width: 45%;
      height: 600px;
      border: 2px solid $secondary-color;
    }
  }
}

/*********************************************/
/*** *** *** LATEST MUSING SECTION *** *** ***/
/*********************************************/
section.latest-musing {
  color: #fff;

  h2 {
    text-align: center;
  }
}

/*************************************/
/*** *** *** QUOTE SECTION *** *** ***/
/*************************************/
section.quote {
  margin-left: auto;
  margin-right: auto;
  width: 80%;

  p {
    text-align: center;
  }

  span.quoter, 
  div.social-media-icons {
    align-self: flex-end;
  }
}

/*************************************/
/*** **** *** MUSING NAV  *** **** ***/
/*************************************/
nav.musing-nav {
    width: 100%;
    font-size: $small-font-size;
    overflow: auto;
    a {
        display: block;
        max-width: 35%;
    }
    a.prev {
        float: left;
    }
    a.next {
        float: right;
        text-align: right;
    }
}

/*************************************/
/*** ** *** MUSING ARTICLE  *** ** ***/
/*************************************/
article.musing {
    display: flex;
    flex-direction: column;

    h1.musing-title, 
    div.musing-content {
      width: 80%;
    }
    
    .musing-title {
      text-align: initial;
      align-self: flex-start;
    }

    div.musing-content, 
    span.continue-reading {
      align-self: flex-end;
    }
}


/*************************************/
/*** *** ***  SITE FOOTER  *** *** ***/
/*************************************/
footer.site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #035E7C;
  color: #FFF;

  div.footer-copyright {
    font-size: $small-font-size;
  }
}

/*************************************/
/*** ** **  DISQUS COMMENTS  ** ** ***/
/*************************************/
div#disqus_thread {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}


/*************************************/
/*** *** *** MEDIA QUERIES *** *** ***/
/*************************************/
@include media-query($on-tablet) {
  header.site-header,
  footer.site-footer {
    padding: $spacing-unit * 2;
  }

  header.site-header {
    flex-direction: row;
    align-items: center;

    nav.site-nav {
      padding-top: 0;
      width: 400px;
    }
  }

  footer.site-footer {
    flex-direction: row;
    justify-content: space-between;
  }

  div.hero, 
  div.mockups, 
  div.latest-musing, 
  div.quote {
    padding: $spacing-unit * 2;
  }

  section.hero { 
    font-size: 2em;

    div#hero-logo img {
      width: 64px;
    }

    div#hero-prof {
      padding-left: $spacing-unit * 2;
    }

    div#hero-logo {
      padding-right: $spacing-unit * 2;
    }
  }

  section.mockups {
    div.mockup-showcase {
      margin-bottom: $spacing-unit * 2;
    }
  }

  article.musing {
    h1.musing-title, 
    div.musing-content {
      width: 70%;
    }
  }

  section.quote {
    width: 60%;

    p {
      align-self: center;
    }
  }
}

@include media-query($on-desktop) {
  section.hero, 
  section.mockups, 
  section.latest-musing, 
  section.quote {
    padding: $spacing-unit * 2.5;
  }

  section.mockups {
    div.mockup-showcase {
      margin-bottom: $spacing-unit * 2.5;
    }
  }
}