/**
 * CONTAINER
 */
 .container {
    position: absolute;
    top: 80%;
    width: 100%;
    padding-left: 300px;
    background-color: #FAFAFA;
}

/**
 * HEADER (SIDEBAR)
 */

.sidebar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    position: fixed;
    padding-bottom: 30px;
    width: 300px;
    height: 100vh;
    background-color: rgba(250, 250, 250, 0.75);
    z-index: 1000;
}

.sidebar__nav {
    margin: 0;
    margin-top: 10px;
    list-style: none;
    font-weight: 500;
    text-transform: uppercase;
}

.sidebar__nav__item {
    display: block;
    padding: 5px 20px;

    &:hover {
        color: $grey-color-light;
        background-color: $brand-color;
    }
}
.active-link {
    background-color: $grey-color;
}

.sidebar__brand {
    padding: 25px 0;
    margin: 0 auto;
}

.sidebar__blog-listing {
    padding: 10px 20px 0 20px;
}

.sidebar__blog-listing__header {
    border-bottom: 2px solid $grey-color-dark;
    text-align: right;
}

.sidebar__blog-list {
    margin-left: 0;
    font-size: $small-font-size;
    list-style: none;
}

.sidebar__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.icon {
    > svg {
        display: inline-block;
        width: 30px;
        height: 30px;
        vertical-align: middle;

        polygon {
            fill: $grey-color-dark;
        }
        &:hover {
            polygon {
                fill: $brand-color;
            }
        }
    }
}


/**
 * MAIN CONTENT
 */
.content {
    width: 100%;
}

.temp {
    position: absolute;
    right: 300px;
}
/**
 * PAGES
 */

.page {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
        max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
        margin-right: auto;
        margin-left: auto;
        padding-right: $spacing-unit;
        padding-left: $spacing-unit;
    }
}

.page__header {
    padding: $spacing-unit 0;
    text-align: center;
    text-transform: uppercase;
}

.page__heading {
    font-size: 2.25em;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post {
    a {
        color: blue;
        text-decoration: none;

        &:hover {
            color: darken(blue, 10%);
            text-decoration: underline;
        }
    }
}



.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
