/* Sidebar Styles */
.sidebar-container {
    display: flex;
    align-items: flex-start;
}

.sidebar-content {
    width: 300px;
    background: $grey-color-light;

    ul {
        margin: 0;
        list-style: none;
    }

    li {
        line-height: 30px;
    }
}

.sidebar-nav li a {
    display: block;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@include media-query($on-palm) {
    #site-wrapper {
        padding-right: 275px;
    }

    #site-wrapper.toggled {
        padding-right: 25px;
    }

    #sidebar-wrapper {
        width: 275px;
    }

    #site-wrapper.toggled #sidebar-wrapper {
        width: 25px;
    }

    #content-wrapper {
        padding: 20px 0;
        position: relative;
    }

    #site-wrapper.toggled #content-wrapper {
        position: relative;
        margin-left: 0;
    }
}