.post__header {margin-bottom: $spacing-unit;}
.post__title {margin-bottom: 0;}
.post__meta {
    font-size: $small-font-size;
    color: $grey-color-dark;
}
.post__content {padding-bottom: $spacing-unit;}
.post__footer {
    padding-top: $spacing-unit;
    border-top: 0.125em solid $brand-color;
}