<footer class="footer">
    <div class="footer__copyright">
      <span>&copy; 2016 iamjhu.</span>
    </div>
    
    <div class="footer__social-media">
      <a class="footer__email" href="mailto: {{ site.email }}">
        {{ site.email }}
      </a>

      {% if site.github_username %}
        {% include social-media/icon-github.html username=site.github_username %}
      {% endif %}

      {% if site.linkedin_username %}
        {% include social-media/icon-linkedin.html username=site.linkedin_username %}
      {% endif %}
    </div>
</footer>