---
layout: page
title: Blog
permalink: /blog/
weight: 4
---

<section class="blog" id="all-posts">
  <ul class="blog-list">
    {% for post in site.posts | limit:5 %}
      <li class="blog-list__item">
        <span class="blog-list__meta">
          {{ post.date | date: "%A, %B %-d, %Y" }}
        </span>

        <h2 class="blog-list__heading">
          <a class="blog-list__title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        
        {{ post.excerpt }}
        <a class="button--primary" href="{{ post.url | prepend: site.baseurl }}">Read more</a>
      </li>
    {% endfor %}
  </ul>
</section>

{% for tag in site.tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}
<section class="blog--hidden" id="{{ t }}-posts">
  {% include blog/posts-listing.html %}
</section>
{% endfor %}

<aside class="tags">
  <h4 class="tags__title">Tags</h4>
  <ul class="tags-list">
    {% for tag in site.tags %}
      {% assign t = tag | first %}
      {% assign posts = tag | last %}
      <li class="tags-list__item" id="{{ t }}-item">
        <a href onclick="filter('{{ t }}'); return false;">{{t | downcase }} ({{ posts | size }})</a>
      </li>
    {% endfor %}
  </ul>
</aside>