.section {
    font-size: 1rem;
    margin-bottom: $spacing-unit;
    padding: 0 $spacing-unit $spacing-unit;
    &:first-child {border-left: 0.1875em solid $brand-color;}
}
    .section__title--small {
        position: relative;
        top: 0.3125em;
    }