<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  <header class="sidebar">
    <nav>
      <ul class="sidebar__nav">
        {% assign pages = site.pages | sort:"weight"  %}
        {% for p in pages %}
          {% if p.title and p.weight %}
            <li>
              <a href="{{ p.url | prepend: site.baseurl }}"
                 class="sidebar__nav__item
                        {% if p.url == page.url %}
                          active-link
                        {% endif %}">
                {{ p.title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

    <div class="sidebar__brand">
      {% include logo.svg %}
    </div>

    {% include sidebar-footer.html %}

  </header><!-- /.sidebar -->
  <main>
    {{ content }}
  </main>
</body>
</html>
