---
layout: default
---

<article class="note">
  <header class="note__header">
    <h1 class="note__heading">{{ page.title }} </h1>
    <p class="notes-list__meta">
      Last updated: {{ page.last_updated | date: "%B %-d, %Y" }} 
      <a href="{{ page.url | replace_first: '/notes', '_notes' 
                           | replace_first: '.html', '.markdown'
                           | prepend: site.github_history_url }}">
        View History
      </a>
    </p>
  </header>
  {{ content }}
</article>