<footer>
  <div id="footer-ribbon">
    <div id="copyright">
      Copyright &copy; 2016. All rights reserved.
    </div>
    <div id="social-media">
      <ul>
        <li><a href=""><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</footer>