<header>
  <nav>
    <div id="navbar-brand">
      <a href="">iamjhu</a>
    </div>
    <div id="navbar-nav" class="dropdown">
      <button onclick="myFunction()" class="dropbtn"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></button>
      <div id="myDropdown" class="dropdown-content">
        <a href="#">Blog</a>
        <a href="#">Projects</a>
        <a href="#">Contact</a>
      </div>
    </div>
  </nav>
</header>